'''
Q1. Create one variable containing following type of data:
(i)String
(ii) list
(iii) float
(iv) tuple
'''
Str_var="PWSKILL"
Str_var
list_var=[1,2,3,4]
list_var
float_var=100.5
float_var
tuple_var=(1,2,3,4)
tuple_var

'''
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Ans.  var1 ---String
      var2 ---String
      var3 ---list
      var4 ---int
'''

'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans. (i) /---	Division operator   
                ex.  4 / 2 = 2
     (ii) %---	Modulo operator   
                ex.  4 % 2 = 0
     (iii) //---Floor Division operator   
                ex.  5 // 2 = 2
     (iv) **---	Power operator   
                ex.  4 ** 2 = 16
'''

In [10]:
'''
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''
l=[1,2,3,"a","b",1.5,True,False,[1,2,3],(1,2,3,4)]
for x in l:
    print(x,"---",type(x))

1 --- <class 'int'>
2 --- <class 'int'>
3 --- <class 'int'>
a --- <class 'str'>
b --- <class 'str'>
1.5 --- <class 'float'>
True --- <class 'bool'>
False --- <class 'bool'>
[1, 2, 3] --- <class 'list'>
(1, 2, 3, 4) --- <class 'tuple'>

In [13]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''
A=10
B=2
if A%B==0:
    print((int)(A/B))

5

In [15]:
'''
Q(6) Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in l:
    if x%3==0:
        print(x,"--- is divisible by 3")
    else:
        print(x,"--- is not divisible by 3")

1 --- is not divisible by 3
2 --- is not divisible by 3
3 --- is divisible by 3
4 --- is not divisible by 3
5 --- is not divisible by 3
6 --- is divisible by 3
7 --- is not divisible by 3
8 --- is not divisible by 3
9 --- is divisible by 3
10 --- is not divisible by 3
11 --- is not divisible by 3
12 --- is divisible by 3
13 --- is not divisible by 3
14 --- is not divisible by 3
15 --- is divisible by 3
16 --- is not divisible by 3
17 --- is not divisible by 3
18 --- is divisible by 3
19 --- is not divisible by 3
20 --- is not divisible by 3
21 --- is divisible by 3
22 --- is not divisible by 3
23 --- is not divisible by 3
24 --- is divisible by 3
25 --- is not divisible by 3

'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. Mutable data types:
Mutable datatypes are objects that can be modified or altered after they have been created .
Ex.  List, Set, Dictionary

Immutable data types:
Immutable datatypes are objects that cannot be modified or altered after they have been created .
Ex. tuples, int, float, bool
'''