<h4>Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference between SQL and NoSQL:
(1)SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
(2)SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
(3)SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

<h4>Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.DDL is data definition language and is useful for defining the schema and structure of the database. Commands like DROP, CREATE, ALTER, TRUNCATE, COMMENT, and RENAME are used.

Command-1 :
CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

Command-2 :
ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

Command-3 :
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;

Command-4 :
DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

<h4>Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language.It performs interpret-only data queries. It is used in a database schema to recall and manipulate the information. DML It is a dialect which is used to select, insert, delete and update data in a database. 

INSERT Command
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
Syntax:
INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)
VALUES ('value1', 'value2'); 
    
UPDATE Command
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
Syntax:
UPDATE <table_name>
SET <column_name = value>
WHERE condition; 
    

DELETE Command
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
Syntax:
DELETE FROM <table_name>
WHERE <condition>;

<h4>Q4. What is DQL? Explain SELECT with an example.

Ans. DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it.

SELECT:
The SELECT Statement in SQL is used to retrieve or fetch data from a database. 
We can fetch either the entire table or according to some specified rules. The data returned is stored in a result table. This result table is also called the result set. With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, optionally, which column headings we prefer to see above the result table.
Syntax
SELECT expression FROM table_x WHERE code_conditions;
Example
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;
The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’.

<h4>Q5. Explain Primary Key and Foreign Key.

Ans.Primary Key:
A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. 
Foreign Key:
A foreign key is generally used to build a relationship between the two tables.

<h4>Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor()
mycursor.execute("Create database if not exists test")
mycursor.close()

cursor():
    You can create Cursor object using the cursor() method of the Connection object/class.
execute():
    This method accepts a MySQL query as a parameter and executes the given query.

<h4>Q7. Give the order of execution of SQL clauses in an SQL query.

Order	Clause	          Function
1	FROM	              Tables are joined to get the base data.
2	WHERE	              The base data is filtered.
3	GROUP BY	          The filtered base data is grouped.
4	HAVING	              The grouped base data is filtered.
5	SELECT	              The final data is returned.
6	ORDER BY	          The final data is sorted.
7	LIMIT	              The returned data is limited to row count.